* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body 
	{
	font-size: 14px;
	font-weight: 400;
	background: #607274;
	color: #f5efef;
}

.container {
	width: 1100px;
	margin: 0px auto;
	display: table;
}

.div-4 {
	width: 33%;
	float: left;
}

.div-1 {
	width: 66%;
	float: left;
}

                   /************************  MENU SECTION  **********************/
.main-panel {
	width: 100%;
	float: left;
	padding-top: 5px;
	padding-bottom: 50px;
	height: 100vh;
}

.logo {
	width: 100px;
}

.span-section {
	color: #93242c;
}

nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #B2A59B;
	z-index: 99;
  }
  
  .nav-content {
	max-width: var(--max-width);
	margin: auto;
	padding: 1.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  nav a {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--primary-color);
	transition: 0.3s;
  }


  nav i {
	font-size: 2rem;
	color: var(--primary-color);
	cursor: pointer;
  }
  
  ul {
	display: flex;
	align-items: center;
	gap: 1rem;
	list-style: none;
	transition: left 0.3s;
  }
  
  ul li a {
	padding: 0.5rem 1rem;
	border: 2px solid transparent;
	text-decoration: none;
	font-weight: 600;
	color: var(--text-dark);
	transition: 0.3s;
  }
  
  ul li a:hover {
	border-top-color: var(--secondary-color);
	border-bottom-color: var(--secondary-color);
	color: var(--secondary-color);
  }

nav {
	float: right;
}

nav a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
	color: rgb(5, 5, 5);
}

                /*****************************  MAIN BANNER  ********************/
.div-2 {
	float: left;
	width: 50%;
}

.banner-section {
	width: 100%;
	float: left;
	margin-top: 25vh;
}

.banner-section h1 {
	font-size: 48px;
	margin-top: 40px;
	font-weight: bolder;
}

.banner-section h2 {
	font-size: 20px;
	line-height: 25px;
	margin-top: 20px;
	font-weight: 400;
	text-align: justify;
}

.banner-section a {
	float: left;
	text-decoration: none;
	font-size: 18px;
	margin-top: 20px;
	border-radius: 50%;
	text-align: center;
	border: 2px solid #161616;
	color: #ffffff;
	margin-left: 10px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}

                 /********************  MAIN BANNER IMAGE  **********************/
.main-panel img {
	margin-top: 5%;
	width: 100%;
	margin-left: 10%;
}

                /****************************  ABOUT ME SECTION  ************************/

.main-section {
	
	padding: 100px 0px 100px 0px;
}

.div-3 {
	width: 100%;
	float: left;
}

.heading-text {
	width: 100%;
	float: left;
	font-size: 35px;
	text-align: center;
	margin-bottom: 50px;
	color: #ffffff;
}

                /*****************************  SERVICE SECTION  ************************************/
.service-list {
	padding: 40px;
	margin-top: 35px;
	background: #9A3B3B;
	border-radius: 15px;
	width: 94%;
	float: left;
}

.service-list i {
	font-size: 50px;
	color: #561C24;
	width: 70px;
	float: left;
}

.service-list h3 {
	font-size: 28px;
	margin-top: 8px;
	margin-bottom: 15px;
}

.service-list p {
	font-size: 15px;
	line-height: 25px;
}

                    /***************************  CONTACT ME SECTION  *************************/
.contact form {
	width: 50%;
	margin: 0px auto;
}

.contact input,
textarea {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	border: 1px solid #a1a1a1;
}

.contact textarea {
	height: 80px;
}

.contact button {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding-left: 10px;
	background: #9A3B3B;
	color: #fff;
	border: none;
	font-size: 16px;
	border-radius: 40px;
}

.contact h3 {
	font-size: 26px;
	text-align: center;
	margin-top: 60px;
	color: #9A3B3B;
}

.contact h4 {
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
}

.contact p {
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}


                    /***********************  FOOTER SECTION  *******************/
.footer {
	background-color: #9A3B3B;
	padding: 10px 0px 20px 0px;
	width: 100%;
	float: left;
}
.footer-section {
	color: #b3b3b3;
}
.footer-section a {
	color: #b3b3b3;
	margin-left: 10px;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
}
.social-icon a i {
	width: 50px;
	height: 50px;
	border: 1px solid #cdcdcd;
	line-height: 50px;
	font-size: 20px;
	border-radius: 70%;
}
